    <header>
        <div class="container">
            <nav>
                <div class="main-title">
                    <i class="fa-solid fa-earth-asia main-title-icon"></i>
                    <div class="main-subtitle">
                        <p id="subtitle1">Eco-Travel</p>
                        <p id="subtitle2">Malaysia</p>
                    </div>
                </div>

                <ul>
                    <li><a href="/profile-settings-pg4" id="profileNav"><i class="fa-solid fa-circle-user user-icon"></i></a></li>
                </ul>

                <div class="btn">
                    <i class="fas fa-bars menu-btn"></i>
                </div>
                
            </nav>
        </div>
     </header>